doctype html

html
  head
    style
      include style.css
  body
    .wrapper
      header
        h1 Rameş Aliyev
        h2 Full Stack Developer
        h4 Istanbul, Turkey
      main
        section
          h3 Experiences
          .block
            .block-title OmmaSign - Senior Full Stack Developer
            .block-subtitle Sep 2018 - Present

          .block
            .block-title Ecma Co. Ltd. - Co-Founder & Full Stack Developer
            .block-subtitle Jun 2017 - Present

          .block
            .block-title Pisano - Senior Frontend Developer
            .block-subtitle Feb 2018 - Sep 2018 (8 months)

          .block
            .block-title Emlakjet - Senior Full Stack Developer
            .block-subtitle Jan 2016 - Oct 2017 (1 year 10 months)

          .block
            .block-title Turkcell - Senior JavaScript Developer (Consultant)
            .block-subtitle Oct 2013 - Dec 2015 (2 years 3 months)

          .block
            .block-title E-NET Internet Technology Co - JavaScript Developer
            .block-subtitle Jan 2013 - Sep 2013 (9 months)

          .block
            .block-title Techpoint Labs @ Frontend Developer
            .block-subtitle Mar 2012 - Jan 2013 (11 months)

          .block
            .block-title Koridor Prodüksiyon ve Tasarım Atölyesi @ Full Stack Developer
            .block-subtitle Feb 2009 - Mar 2012 (3 years 2 months)

        section
          h3 Education
          .block
            .block-title Yildiz Technical University
            .block-subtitle Bachelor of Science - BS, Computer Engineering · (2018 - 2022)

          .block
            .block-title Sakarya University
            .block-subtitle Associate's Degree, Computer Programming · (2016 - 2018)

          .block
            .block-title Zeytinburnu Industrial Vocational High School
            .block-subtitle High School, Electronic Technology/Technician · (2004 - 2007)

        section
          h3 Volunteer Experience
          .block
            .block-title Trainer @ Frontend Camp'17 Summer
            .block-subtitle Aug 2017

          .block
            .block-title Organiser / Speaker @ JSNinjas - Free For All
            .block-subtitle Aug 2015

          .block
            .block-title Speaker @ The Frontiers:Mini
            .block-subtitle Jun 2015

        section
          h3 Links
          .block
            .block-title github.com/ramesaliyev

          .block
            .block-title linkedin.com/in/ramesaliyev

          .block
            .block-title twitter.com/ramesaliyev

        section
          h3 Contact
          .block
            .block-title creator@ramesaliyev.com

      footer