doctype html

html
  head
    style
      include style.css
  body
    .wrapper
      header
        h1.logo rameş
          span aliyev
        h2.sublogo Full Stack Developer
      main
        section
          p I'm an experienced web based full-stack software engineer who ❤ javascript, frontend, backend, devops, functional programming, math, geometry and machine learning. Please visit my personal website <a target="_blank" href="https://ramesaliyev.com">ramesaliyev.com</a> and other profiles to get further information about my experimental works.
        section
          h3 experiences
          .block
            .block-title Senior Full Stack Developer @ OmmaSign
            .block-subtitle Sep 2018 - Present

          .block
            .block-title Co-Founder & Full Stack Developer @ Ecma Co. Ltd.
            .block-subtitle Jun 2017 - Present

          .block
            .block-title Senior Frontend Developer @ Pisano
            .block-subtitle Feb 2018 - Sep 2018 (8 months)

          .block
            .block-title Senior Full Stack Developer @ Emlakjet
            .block-subtitle Jan 2016 - Oct 2017 (1 year 10 months)

          .block
            .block-title Senior JavaScript Developer (Consultant) @ Turkcell
            .block-subtitle Oct 2013 - Dec 2015 (2 years 3 months)

          .block
            .block-title JavaScript Developer @ E-NET Internet Technology Co
            .block-subtitle Jan 2013 - Sep 2013 (9 months)

          .block
            .block-title Frontend Developer @ Techpoint Labs
            .block-subtitle Mar 2012 - Jan 2013 (11 months)

          .block
            .block-title Full Stack Developer @ Koridor Prodüksiyon ve Tasarım Atölyesi
            .block-subtitle Feb 2009 - Mar 2012 (3 years 2 months)

        section
          h3 education
          .block
            .block-title Yildiz Technical University
            .block-subtitle Bachelor of Science - BS, Computer Engineering · (2018 - 2022)

          .block
            .block-title Sakarya University
            .block-subtitle Associate's Degree, Computer Programming · (2016 - 2018)

          .block
            .block-title Zeytinburnu Industrial Vocational High School
            .block-subtitle High School, Electronic Technology/Technician · (2004 - 2007)

        section
          h3 volunteer experience
          .block
            .block-title Trainer @ Frontend Camp'17 Summer
            .block-subtitle Aug 2017

          .block
            .block-title Organiser / Speaker @ JSNinjas - Free For All
            .block-subtitle Aug 2015

          .block
            .block-title Speaker @ The Frontiers:Mini
            .block-subtitle Jun 2015

        section
          h3 links
          ul.link-list
            li <a target="_blank" href="https://ramesaliyev.com">ramesaliyev.com</a>
            li <a target="_blank" href="https://github.com/ramesaliyev">github.com/ramesaliyev</a>
            li <a target="_blank" href="https://linkedin.com/in/ramesaliyev">linkedin.com/in/ramesaliyev</a>
            li <a target="_blank" href="https://twitter.com/ramesaliyev">twitter.com/ramesaliyev</a>

        section
          h3 contact
          .block
            .block-title creator@ramesaliyev.com

      footer