doctype html

html
  head
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600")
    style
      include style.css
  body
    .wrapper
      header
        h1.logo rameş
          span aliyev
        h2.sublogo Computer Scientist
      main
        section
          p I'm Ramesh, a former Software Engineer from Istanbul who mostly experienced in Web Technologies. I've worked in various companies as Lead and Senior Software Engineer. Currently I'm a Computer Science student at YTU. I'm interested in AI and mostly Computer Vision. 
        
        section
          h3 education
          .block
            .block-title Yildiz Technical University
            .block-subtitle Bachelor of Science - BS, Computer Science (2019 - 2023)

          .block
            .block-title Sakarya University
            .block-subtitle Associate of Science - AS, Computer Programming (2016 - 2018)

          .block
            .block-title Zeytinburnu Industrial Vocational High School
            .block-subtitle High School Diploma, Electronics (2004 - 2007)

        section
          h3 certifications
          .block
            .block-title Fundamentals of Deep Learning
            .block-subtitle NVIDIA, Deep Learning Institute (2021)

          .block
            .block-title Data Science Math Skills
            .block-subtitle Coursera, Duke University (2020)
        
        section
          h3 experiences
          .block
            .block-title Co-Founder & Full Stack Developer - Ecma Co. Ltd.
            .block-subtitle Jun 2017 - Jun 2021 (4 years)

          .block
            .block-title Senior Full Stack Developer - Omma
            .block-subtitle Sep 2018 - Nov 2020 (2 year 3 months)

          .block
            .block-title Senior Frontend Developer - Pisano
            .block-subtitle Feb 2018 - Sep 2018 (8 months)

          .block
            .block-title Lead Full Stack Developer - Emlakjet
            .block-subtitle Jan 2016 - Oct 2017 (1 year 10 months)

          .block
            .block-title Senior JavaScript Developer - Turkcell
            .block-subtitle Oct 2013 - Dec 2015 (2 years 3 months)

          .block
            .block-title JavaScript Developer - E-NET Internet Technology Co.
            .block-subtitle Jan 2013 - Sep 2013 (9 months)

          .block
            .block-title Frontend Developer - Techpoint Labs
            .block-subtitle Mar 2012 - Jan 2013 (11 months)

          .block
            .block-title Full Stack Developer - Koridor Design Studio
            .block-subtitle Feb 2009 - Mar 2012 (3 years 2 months)

        section
          h3 links
          .block
            ul.link-list
              li <a target="_blank" href="https://rames.dev">rames.dev</a>
              li <a target="_blank" href="https://github.com/ramesaliyev">github.com/ramesaliyev</a>
              li <a target="_blank" href="https://linkedin.com/in/ramesaliyev">linkedin.com/in/ramesaliyev</a>

        section
          h3 contact
          .block
            .block-title ramesaliyev@gmail.com

      footer