html, body {
  width: 100%;
  height: 100%;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 20px;
  background-color: #fff;
}

* {
  border: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #1A1423;
  font-weight: 400;
  letter-spacing: -.025rem;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 16px;
}

a {
  color: #4C2A85;
  text-decoration: none;
}

.logo {

}

.logo span {
  color: #829191;
}

.sublogo {
  font-size: 18px;
}

a:hover,
a:focus {
  text-decoration: none;
}

p {
  color: #829191;
  line-height: 1.6rem;
  font-size: 20px;
}

.wrapper {
  width: 800px;
  min-height: 100%;
  padding: 40px;
  margin: 0 auto;
}

header {
  padding-bottom: 20px;
  position: relative;
}

header h1,
header h2,
header h3,
header h4 {
}


main {

}

footer {

}

section {
  padding: 20px 0;
}

.block {
  padding: 20px 0;
}

.block-title {
  padding-bottom: 5px;
  color: #4C2A85;
}

.block-subtitle {
  color: #829191;
}

.link-list {
  padding: 10px;
  list-style-type: none;
}

.link-list li {
  padding: 5px 0px;
}