html, body {
  width: 100%;
  height: 100%;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  background-color: #fff;
}

* {
  border: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #1A1423;
  font-weight: 600;
  letter-spacing: -.025rem;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 0.8rem;
}

a {
  color: #313715;
  text-decoration: none;
}

.logo {

}

.logo span {
  color: #829191;
}

.sublogo {
  font-size: 0.9rem;
}

a:hover,
a:focus {
  text-decoration: none;
}

p {
  color: #333;
  line-height: 1.6rem;
  font-size: 1rem;
}

.wrapper {
  width: 800px;
  min-height: 100%;
  padding: 40px;
  margin: 0 auto;
}

header {
  padding-bottom: 20px;
  position: relative;
}

header h1,
header h2,
header h3,
header h4 {
}


main {

}

footer {

}

section {
  padding: 20px 0;
}

.block {
  padding: 15px 0;
}

.block-title {
  padding-bottom: 5px;
  color: #313715;
}

.block-subtitle {
  font-size: 0.8rem;
  color: #697777;
}

.block-subtitle a {
  color: #697777;
  text-decoration: underline;
}

.link-list {
  list-style-type: none;
}

.link-list li {
  padding-bottom: 10px;
}

.link-list li:last-child {
  padding-bottom: 0px;
}